.FriendEntries-container {
  color: var(--purple);
  width: 100%;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  margin-top: var(--m);
  border-radius: 1rem;
  background-color: var(--white);
}

.FriendEntries-container:hover {
  background: var(--purple);
  color: var(--white);
  transition: all 0.5s;
  cursor: default;
}

.FriendEntries-container:first-of-type {
  margin-top: var(--l);
}

.FriendEntries-user {
  font-weight: 1000;
}

.FriendEntriesTitle {
  color: var(--purple);
}
