.Friends-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  margin: 2rem 0 0 0;
  justify-content: center;

  right: 2rem;
  left: 1rem;
  width: 100%;
}

.FriendsList {
  order: 2;
  flex: 2;
  align-self: left;
  position: static;
  left: 0;
  margin: 0 0 0 1rem;
}

.FriendsSearch {
  order: 1;
  flex: 3;
  margin: 0 1rem 0 0;
}
