.Profile-container {
    color: var(--royal-blue);
    width: 100%;
    padding: 1rem;
    list-style: none;
    cursor: pointer;
    margin-top: var(--m);
    border: 1px solid var(--royal-blue);
    border-radius: 1rem;
    background-color: var(--white);
}

.Profile-container:hover {
    background: var(--royal-blue);
    color: var(--white);
    transition: all 0.5s;
}
  
.Profile-container:first-of-type {
    margin-top: var(--l);
}

.Profile-user {
    font-weight: 1000;
}

.Profile-title {
    font-weight: 600;
}