.JournalEntry-wrapper {
  background-color: var(--grey);
  padding: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.JournalEntry-input {
  font-size: 16px;
  padding-bottom: 5rem;
  text-align: center;
}

.JournalEntry-button {
  font-size: 16px;
  font-family: "Josefin Sans";
  color: var(--white);
  background-color: var(--royal-blue);
  border: none;
  border-radius: var(--s);
  width: 30%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.JournalEntry-button:hover {
  color: var(--royal-blue);
  background-image: none;
  background-color: white;
  transition: all 0.7s;
}

.JournalEntry-content,
.JournalEntry-select {
  font-family: "Josefin Sans";
  font-size: 16px;
  border-radius: var(--m);
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-width: 1px;
  background-color: var(--white);
  color: var(--royal-blue);
  text-align: center;
}

.JournalEntry-content {
  width: 80%;
  height: 100px;
  padding: 15px;
  text-align: left;
}

.JournalEntry-select {
  width: 30%;
  height: 50px;
}

.JournalEntry-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  overflow: hidden;
  width: 80%; /* Full-width */
  height: 2%; /* Specified height */
  border-radius: 15px;  
  background: var(--medgrey); /* Grey background */
  outline: none; /* Remove outline */
}

.JournalEntry-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--royal-blue);
  cursor: pointer;
}

.rangeValue {
  font-family: "Josefin Sans";
  font-size: 16px;
  width: 3vw;
  padding: 1.5vw;
  border-radius: var(--m);
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-width: 1px;
  background-color: var(--white);
  color: var(--royal-blue);
  text-align: center;
  margin: auto;
}

.form-text {
  color: var(--darkestgrey);
  font-weight: bold;
  font-size: 1.5vw;
  padding: 2%;
}

.form-header {
  color: var(--light-purple);
  font-size: 5vw;
  padding: 1rem;
  text-align: center;
}

::placeholder {
  color: var(--royal-blue)
}

[type=radio] { 
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 2px solid var(--royal-blue);
}

.emotion {
  width: 7%;
  height: auto;
  border-radius: 50%;
}

.paragraph {
  font-size: 8px;
  color: var(--purple);
}
.paragraph a {
  color: var(--purple);
}

.cry {
  background-color: #FD5D5D;
}

.sad {
  background-color: #FDA05D;
}

.mid {
  background-color: #FFD568;
}

.happy {
  background-color: #CDDA7E;
}

.thrilled {
  background-color: #88CE7D;
}

