.JournalEntry-wrapper {
  background-color: var(--grey);
  padding: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.JournalEntry-input {
  font-size: 16px;
  padding: 1rem;
  text-align: center;
}

.JournalEntry-button {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--white);
  background-color: var(--royal-blue);
  border: none;
  border-radius: var(--s);
  width: 30%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.JournalEntry-button:hover {
  color: var(--royal-blue);
  background-image: none;
  background-color: white;
  transition: all 0.7s;
}

.JournalEntry-content,
.JournalEntry-number,
.JournalEntry-select {
  font-family: "Roboto";
  font-size: 16px;
  border-radius: var(--m);
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-width: 1px;
  background-color: var(--white);
  color: var(--royal-blue);
  text-align: center;
}

.JournalEntry-content {
  width: 80%;
  height: 100px;
  padding: 15px;
  text-align: left;
}

.JournalEntry-number {
  width: 20%;
  height: 50px;
}

.JournalEntry-select {
  width: 30%;
  height: 50px;
}

.form-text {
  color: var(--royal-blue);
  font-weight: bold;
}

h1 {
  font-size: 16px;
  color: var(--white);
  display: inline-block;
  background-color: var(--royal-blue);
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

::placeholder {
  color: var(--royal-blue)
}

[type=radio] { 
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  outline: 2px solid var(--royal-blue);
}

.emotion {
  width: 7%;
  height: auto;
  border-radius: 50%;
}

p {
  font-size: 8px;
  color: var(--purple);
}
p a {
  color: var(--purple);
}

.cry {
  background-color: #FD5D5D;
}

.sad {
  background-color: #FDA05D;
}

.mid {
  background-color: #FFD568;
}

.happy {
  background-color: #CDDA7E;
}

.thrilled {
  background-color: #88CE7D;
}

