.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--green);
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 20px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--honeydew);
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    color: var(--white);
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }