.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--royal-blue);
    position: fixed; 
    top: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 30px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--light-purple);
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    color: var(--white);
  }
  
  .NavBar-login {
    background-color: var(--white);
    color: var(--royal-blue);
    margin-left: var(--m);
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 16px;
    border-radius: var(--s);
    border-color: var(--royal-blue);
    border-style: solid;
    padding: 0.3rem;
    text-align: center;
    transition: all 0.7s;
  }

  .NavBar-login:hover {
    background-color: var(--royal-blue);
    color: var(--white);
  }

  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }

  .NavBar-image {
    width: 5%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
  }