.PersonFound-container {
  color: var(--purple);
  width: 100%;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  margin-top: var(--m);
  border: 1px solid var(--purple);
  border-radius: 1rem;
  background-color: var(--grey);
}

.FriendStatus-container {
  font-style: italic;
  border-radius: 1rem;
  padding: 0.25rem;
  background-color: var(--lavender);
}

.FriendingButton {
  background-color: var(--purple);
  color: var(--lavender);
  margin-left: var(--m);
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: var(--s);
  border-color: var(--purple);
  border-style: solid;
  padding: 0.3rem;
  text-align: center;
  transition: all 0.7s;
}

.FriendingButton:hover {
  background-color: var(--lavender);
  color: var(--purple);
  margin-left: var(--m);
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  border-radius: var(--s);
  border-color: var(--purple);
  border-style: solid;
  padding: 0.3rem;
  text-align: center;
  transition: all 0.7s;
}

.u-rightAdjust {
  text-align: right;
}
