.Search-input {
  font-size: 16px;
  padding: 0.25rem;
  text-align: left;
}

.Search-submit {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--honeydew);
  background-color: var(--green);
  border: var(--honeydew) 1px solid;
  border-radius: var(--s);

  padding: 0.25rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
