.Search-container {
  color: var(--light-purple);
  margin: 1rem 0 0 0;
}

.Search-input {
  font-size: 16px;
  padding: 0.25rem;
  text-align: left;
  color: black;
  width: 90%;
}

input::placeholder {
  color: var(--light-purple);
}

.Search-submit {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--white);
  background-color: var(--purple);
  border: var(--purple) 1px solid;
  border-radius: var(--s);

  padding: 0.25rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
